.task-container {
  min-height: 50vh;
}

.task-options {
  width: 100%;
  margin-top: 0.5em;
  padding: 1.5em 2em;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.task-options::-webkit-scrollbar {
  display: none;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75em;
  cursor: pointer;
  font-size: 1em;
}

.task-options button {
  padding: 0.5em 1em;
  background-color: rgba(16, 61, 110, 1);
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 0.9em;
  text-transform: uppercase;
}

.task-options button:hover {
  background-color: hsl(211, 75%, 50%);
}

.task-options button:active {
  background-color: hsl(211, 75%, 40%);
}

.note {
  line-height: 1.4;
}
