.boost-container{
   height: 30%;
    width: 30%;
    margin: 1.5em  auto;
    display: flex;
    flex-direction: column;
 align-self: stretch;
    align-items: center;
    text-align: center;
    line-height: 3em;
    gap: 2em;
    padding: 10px 20px 30px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  
}
.boost-options{
    text-align: left;
    width: 90%;
margin: 0 auto;
    line-height: 3em;

}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boost-options  img{
    width: 30px;
    height: 30px;

}


.boost-sect2{
   width: 80%; 
   background-color: red;
   height: 30px;
   margin: auto;
}